*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inBox{
    height: 20vh;
    width: 20vw;
    background-color: aqua;
    text-align: center;
    padding-top: 60px;

}